<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kciray.guaptime">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="GuapTime"/>

        <receiver
            android:name=".GuapTime"
            android:icon="@drawable/icon"
            android:label="GuapTime 4×1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget4x1"/>
        </receiver>

        <receiver
            android:name=".GuapTime_3x1"
            android:icon="@drawable/icon"
            android:label="GuapTime 3×1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget3x1"/>
        </receiver>

        <receiver
            android:name=".GuapTime_2x1"
            android:icon="@drawable/icon"
            android:label="GuapTime 2×1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget2x1"/>
        </receiver>

        <receiver
            android:name=".GuapTimeKeyGuard"
            android:icon="@drawable/icon"
            android:label="GuapTime key guard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_keyguard"/>
        </receiver>

        <service android:name=".GuapTimeService">
            <intent-filter>
                <action android:name="ACTION_TIME_TICK"/>
            </intent-filter>
        </service>
    </application>
</manifest>

